<div id="<%= dom_id ppost %>">
  <p>
    <strong>Name:</strong>
    <%= ppost.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= ppost.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= ppost.body %>
  </p>

</div>
